<doc>
    <configure/>
    <objects>
        <obj>
            <ID>1</ID>
            <Name>Karta</Name>
            <Type>1</Type>
            <Texture>/windows/Falcon/seismo/Troll/Troll/image/map.png</Texture>
            <Translatef>
                <X>0</X>
                <Y>0</Y>
                <Z>0</Z>
            </Translatef>
        </obj>
        <obj>
            <ID>16</ID>
            <Name>Base</Name>
            <Type>4</Type>
            <Texture>/windows/Falcon/seismo/Troll/Troll/image/home.jpeg</Texture>
            <Translatef>
                <X>0.334382</X>
                <Y>-0.349359</Y>
                <Z>0</Z>
            </Translatef>
        </obj>
        <obj>
            <ID>31</ID>
            <Name>Sensor</Name>
            <Type>5</Type>
            <Texture>/windows/Falcon/seismo/Troll/Troll/image/mined.png</Texture>
            <ActionType>6</ActionType>
            <Lincing>47</Lincing>
            <Translatef>
                <X>0.976397</X>
                <Y>0.875</Y>
                <Z>0</Z>
            </Translatef>
            <Line1>
                <Point>
                    <X>0</X>
                    <Y>0</Y>
                    <Z>-1</Z>
                </Point>
                <Point>
                    <X>0</X>
                    <Y>0.1</Y>
                    <Z>-1</Z>
                </Point>
            </Line1>
            <Line2>
                <Point>
                    <X>0</X>
                    <Y>0</Y>
                    <Z>-1</Z>
                </Point>
                <Point>
                    <X>0</X>
                    <Y>-0.1</Y>
                    <Z>-1</Z>
                </Point>
            </Line2>
        </obj>
        <obj>
            <ID>4</ID>
            <Name>Sensor</Name>
            <Type>5</Type>
            <Texture>/windows/Falcon/seismo/Troll/Troll/image/mined.png</Texture>
            <ActionType>7</ActionType>
            <Lincing>48</Lincing>
            <Translatef>
                <X>0.375295</X>
                <Y>-0.810897</Y>
                <Z>0</Z>
            </Translatef>
            <Line1>
                <Point>
                    <X>0</X>
                    <Y>0</Y>
                    <Z>-1</Z>
                </Point>
                <Point>
                    <X>0.1</X>
                    <Y>0</Y>
                    <Z>-1</Z>
                </Point>
            </Line1>
            <Line2>
                <Point>
                    <X>0</X>
                    <Y>0</Y>
                    <Z>-1</Z>
                </Point>
                <Point>
                    <X>-0.1</X>
                    <Y>0</Y>
                    <Z>-1</Z>
                </Point>
            </Line2>
        </obj>
    </objects>
</doc>
